# SISTEM ON : 
# TUYUL MALING      = python main.py
# TUYUL COPET       = python run_rcs_watchdog.py
# ScannerInfo       = python run_scanner_watchdog.py
# Recovery System   = python mrcv_main.py
# OP Cepat          = python itr_main.py